
{{ form_row(form.address, {'label': 'Adresse postale'}) }}
<span class="help-block">
    <small>Format: Rue des Wallons 58, 1348 Louvain-la-Neuve, Belgique</small>
</span>

{{ form_widget(form.principal, {'label': 'Faire de cette adresse votre adresse de contact ?'})}}



<div class="row">
    <div class="col-lg-6">
        {{ form_row(form.street, {'label': 'Rue'}) }}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.type) }}
    </div>
</div>



<div class="row">
    <div class="col-lg-6">
        {{ form_row(form.number, {'label': 'Numéro'}) }}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.postcode, {'label': 'Code postale'}) }}
    </div>
</div>


<div class="row">
    <div class="col-lg-6">
        {{ form_row(form.locality, {'label': 'Ville'}) }}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.country, {'label': 'Pays' })}}
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        {{ form_row(form.state, {'label': 'Province/Région'}) }}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.district, {'label': 'Province/Région'}) }}
    </div>
</div>


<div class="row">
    <div class="col-lg-6">
        {{ form_row(form.lng, {'label': 'Longitude'}) }}
    </div>
    <div class="col-lg-6">
        {{ form_row(form.lat, {'label': 'Latitude'}) }}
    </div>
</div>

{{ form_rest(form) }}
<hr />
